<%= form_tag('/posts', method: :get) do  %>
<div class="input-group">
	<%= text_field_tag(:search, nil, class: 'form-control') %>
	<span class="input-group-btn">
	<%= submit_tag("Search", class: 'btn btn-primary', type: 'button') %>
	</span>
	</div>
<% end %>
<br>
<%= link_to "New Post", new_post_path %>  

<% @post.each do |post| %>
	<h2><%= link_to post.title, post %></h2>
	<h5>Posted <%= time_ago_in_words(post.created_at) %> ago</h5> 

	<% unless post.updated_at == post.created_at %>
	<small>Edited <%= time_ago_in_words(post.updated_at) %> ago</small>
	<% end %>

<% end %>